{% extends "base.html" %}

{% block title %}帆相册 - 确认账户{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>你好，{{ current_user.username }}！</h1>
            <h3>你还没有确认你的账户，请前往你的邮箱查收确认邮件。</h3>
            <p>
                在开始你的翻相册之旅前，你需要确认你的账户。检查你的收件箱，点击翻相册的确认邮件里的链接。
                <br><br>
                没有收到？点击<a href="{{ url_for('auth.resend_confirmation') }}">这里</a>重新发送。
            </p>
        </div>
{#        <div class="long_task">#}
{#            <h2>显示进度更新和结果</h2>#}
{#            <button id="start-bg-job">Start Long Task</button>#}
{#            <br><br>#}
{#            <div id="progress" style="width: auto;text-align: center;"></div>#}
{##}
{#            <script src="//cdn.bootcss.com/nanobar/0.4.2/nanobar.min.js"></script>#}
{#            <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>#}
{#            <script>#}
{#                function start_long_task() {#}
{#                    // 添加任务状态元素#}
{#                    var div = $('<div class="progress"><div></div><div>0%</div><div></div></div><hr>');#}
{#                    $('#progress').append(div);#}
{#                    // 创建进度条（progress bar）#}
{#                    var nanobar = new Nanobar({#}
{#                        target: div[0].childNodes[0]#}
{#                    });#}
{#                    // 向后台发送请求开启任务#}
{#                    var longTask = $.get('/auth/longtask');#}
{#                    longTask.done(function (data, status, request) {#}
{#                        status_url = request.getResponseHeader('Location');#}
{#                        update_progress(status_url, nanobar, div[0]);#}
{#                    });#}
{#                }#}
{##}
{#                function update_progress(status_url, nanobar, status_div) {#}
{#                    // 获取状态信息#}
{#                    $.getJSON(status_url, function (data) {#}
{#                        // 更新进度#}
{#                        percent = parseInt(data['current'] * 100 / data['total']);#}
{#                        nanobar.go(percent);#}
{#                        $(status_div.childNodes[1]).text('当前进度: ' + percent + '%');#}
{#                        // 轮询#}
{#                        if (data['state'] == 'PENDING' || data['state'] == '处理中') {#}
{#                            setTimeout(function () {#}
{#                                update_progress(status_url, nanobar, status_div);#}
{#                            }, 2000);#}
{#                        }#}
{#                        // 更新结果#}
{#                        if ('result' in data) {#}
{#                            // 处理完成#}
{#                            $(status_div.childNodes[2]).text('当前结果: ' + data['result']);#}
{#                        }#}
{#                        else {#}
{#                            // 处理中#}
{#                            $(status_div.childNodes[2]).text('当前结果: ' + data['state']);#}
{#                        }#}
{#                    });#}
{#                }#}
{##}
{#                $('button').on('click', start_long_task);#}
{#            </script>#}
{#        </div>#}
    </div>


{% endblock %}